img {
    max-width: 100%;
    height: auto;
}
  
body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 40rem;
}

html {
    font-size: 12pt;
}
  
@media (min-width: 640px) {
    html {
      font-size: 16pt;
    }
}

.two-columns-example {
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    .two-columns-example {
      flex-direction: row;
    }
}
    
.two-columns-example > * {
      width: 50%;
    }
  